body {
	margin: 0px;
	background: white; /* Цвет фона */
}
.vline {
	margin: 0% 10% 0%;
    background: #ffffff; /* Цвет фона */
    box-shadow: 0 0 5px rgba(0,0,0,0.2); /* Параметры тени */
    padding: 10px;
}
.main {
	width:950px;
	height:700px;
	margin: 50px 60px;
	background-color: white; /* Цвет меню (почти белый) */
}
.logo {
	width:145px; /*Высота логотипа*/
	height:40px; /*Ширина логотипа*/
	background-image: url(../img/logo.jpg);
}
.menu {
	width:950px;
	height:40px;
	margin-top: 40px;
	background: #555555; /* Цвет меню (почти черный) */
}
.menu ul {
	padding: 0px;
	height:40px;
	background: #555555; /* Цвет меню (почти черный) */
}
.menu li {
    display: inline-block; /* Строчно-блочные элементы */
    background: #575757; /* Цвет фона */
    margin-right: 3px; /* Расстояние между пунктами меню */
    padding-left: 1px;
    padding-right: 1px;
}
.menu a {
    height:20px;
    padding: 10px 15px 10px 25px; /* Поля вокруг текста */
    color: #fff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    display: block; /* Блочный элемент */
}
.menu li:hover {
	background: #424242; /* Цвет фона при наведении курсора мыши */
    outline: 1px solid white;
}
.sdvig {
	width:250px;
	height:40px;
	margin-top: 40px;
	background-color: white; /* Цвет меню */
}
.sdvig ul {
	margin-left: 0px; /* Отступ слева в браузере IE и Opera */
    padding-left: 0px; /* Отступ слева в браузере Firefox, Safari, Chrome */
    list-style-type: none;
}
.sdvig li {
    margin-bottom: 15px;
    border: 1px grey solid; /*Устанавливаем гранизу эл-та списка*/
	border-bottom: none; /*Убираем границу внизу эл-та списка*/
    margin-bottom: 0px;
    padding-left: 20px;
}
ul li:last-child {
	border-bottom:1px grey solid; /*Добавляем границу для последнего эл-та списка*/
}
.sdvig a {
	height:40px;
	line-height: 40px;
 	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
 	-webkit-transition: all 0.1s ease-in-out;
 	text-decoration: none;
 	color:#222;
 	display:block;
 }
.sdvig a:hover {
 	-webkit-transform: translate(8px,0);
 	-moz-transform: translate(8px,0);
 	-o-transform: translate(8px,0);
 	color: black;
}
 .photo {
 	width:680px; /* Высота */
	height:400px; /* Ширина */
	margin-top: -40px;
	margin-left: 270px; /* Сдвиг фото влево */
	background-image: url(../img/photo.jpg);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px grey solid;
}
p {
	margin-left: 300px;	
}
.footbar {
	width:950px;
	height:40px;
	margin: 50px 60px;
	background-color: #e1e1e1; /* Цвет меню серый */
}
.footbar ul {
	padding: 0px;
	height:40px;
	background-color: #e1e1e1; /* Цвет меню серый */
}
.footbar li {
    display: inline-block; /* Строчно-блочные элементы */
    background: #e1e1e1; /* Цвет фона серый */
    margin-right: 3px; /* Расстояние между пунктами меню */
    padding-left: 1px;
    padding-right: 1px;
}
.footbar a {
    height:20px;
    padding: 10px 15px 10px 25px; /* Поля вокруг текста */
    color: black; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    display: block; /* Блочный элемент */
}
.footbar li:hover {
	text-decoration: underline; /* Включаем подчеркивание */
}
#rigths {
	float: right;
	text-decoration: none; /* Убираем подчеркивание */
	margin-top: 10px;
	margin-right: 25px; /* Отступ справа */
}